/*
 * when the user visits this page, this style will apply, when they leave, it
 * will get unloaded, so don't worry so much about conflicting styles between
 * pages!
 */

/* body {
	background-image: var(--gradient-background);
} */

.container {
	min-height: inherit;
}

.container,
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

@media print, (min-width: 640px) {
	h1 span {
		font-size: 6rem;
	}
}

@media screen and (min-width: 1024px) {
	h1 span {
		font-size: 8rem;
	}
}
