.proverbs-layout {
	display: flex;
	flex-direction: column;
	min-height: inherit;
}

.proverbs-header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-border);
}

.proverbs-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.proverbs-header .home-link {
	font-family: var(--font-display);
	font-size: 3rem;
}

.proverbs-header .home-link a {
	color: var(--color-foreground);
}

.proverbs-header .home-link a:hover {
	text-decoration: none;
}

.proverbs-header .logo-medium {
	display: none;
}

.proverbs-header a:hover {
	text-decoration-style: wavy;
	text-decoration-thickness: 1px;
}

.proverbs-header .user-info {
	display: flex;
	gap: 1rem;
	align-items: center;
	white-space: nowrap;
}

.proverbs-main {
	padding-top: 2rem;
	padding-bottom: 2rem;
	flex: 1 1 100%;
}

.proverbs-main .container {
	display: flex;
	gap: 1rem;
}

.proverbs-list {
	max-width: 12rem;
}

.proverbs-outlet {
	flex: 1;
}

.proverbs-footer {
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-top: 1px solid var(--color-border);
}

@media print, (min-width: 640px) {
	.proverbs-header .logo {
		display: none;
	}

	.proverbs-header .logo-medium {
		display: block;
	}

	.proverbs-main {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

@media (max-width: 639px) {
	.proverbs-main .container {
		flex-direction: column;
	}
}
